a.dice-roller-button {
  cursor: pointer;
}

#dice-tools-button {
  background: rgba(20,20,20,0.8);
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
}

#token-hover-preview {
  position: absolute;
  pointer-events: none;
  z-index: 100000;
  border: 2px solid #666;
  background: rgba(0, 0, 0, 0.8);
  padding: 4px;
  border-radius: 6px;
  display: none;
}

#token-hover-preview img {
  max-width: 300px;
  max-height: 300px;
  display: block;
}
